# Latex files
# .pdf .aux .toc .bbl . blg .synctex.gz
papers/prior-paper/prior.pdf
papers/prior-paper/prior.synctex.gz
papers/prior-paper/prior.log
papers/prior-paper/prior.aux
papers/prior-paper/prior.toc
papers/prior-paper/prior.out
papers/prior-paper/prior.bbl
papers/prior-paper/prior.blg
./papers/factives-paper/factives-paper.pdf
./papers/factives-paper/factives-paper.synctex.gz
./papers/factives-paper/factives-paper.log
./papers/factives-paper/factives-paper.aux
./papers/factives-paper/factives-paper.toc
./papers/factives-paper/factives-paperout
./papers/factives-paper/factives-paper.bbl
./papers/factives-paper/factives-paper.blg


# SALT 2018 submission
/salt2018

# MIT talk outline
/mit2018

# Other files */node_modules/
*.RData
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*mturk/
*.gitattributes

# Rds files of models (too big)
*models/
