# Latex files
# .pdf .aux .toc .bbl . blg .synctex.gz
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.synctex.gz
*.toc
papers/prior-paper/prior.pdf
papers/factives-paper/factives-paper.pdf


# SALT 2018 submission
/salt2018

# MIT talk outline
/mit2018

# Other files */node_modules/
*.RData
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*mturk/
*.gitattributes

# Rds files of models (too big)
*models/
